/* #region Section artists styles */
.artists {
  padding-top: 64px;
  padding-bottom: 64px;
}
.artists .container {
  margin: 0 auto;
}
.artists-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artists-sidebar {
  width: 100%;
}
.artists-subtitle {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}
.artists-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

/* #endregion */

/* #region Main artists list styles */
.artists-results {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.artists-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 32px;
}
.artists-list > .artists-list-item {
  min-height: 446px;
}
.list-item-img {
  border-radius: 16px;
  height: 168px;
  overflow: hidden;
  margin-bottom: 24px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.artists-tags-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}

.tags-list-item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
}
.list-item-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}
.list-item-descr {
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

.list-item-btn {
  padding: 0px 6px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 17px;

  border-radius: 12px;
  border-color: transparent;
  background-color: transparent;

  font-weight: 500;
  color: #fff;
  transition: var(--transition);

  & span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  & svg {
    fill: currentColor;
  }

  &:active {
    opacity: 1;
  }
}
/* #endregion */

/* #region Empty field after searching */
.empty-artists {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  padding: 16px;
  background: #23132b;

  @media (min-width: 768px) {
    width: 704px;
    padding: 32px;
  }
  @media (min-width: 1440px) {
    width: 976px;
  }
}
.empty-artists-icon {
  fill: var(--white-color);
}
.empty-artists-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--white-color);

  @media (min-width: 768px) {
    font-size: 48px;
  }
}

.empty-artists-descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--white-color);
}

.empty-artists-btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  width: 256px;
  border: none;
  color: var(--white-color);

  @media (min-width: 768px) {
    width: 148px;
  }
}
/* #endregion */

/* #region Filters */
.artists-sidebar {
  position: relative;
  margin-bottom: 16px;
}
.artists-sidebar-btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sidebar-btns-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.sidebar-btn-search {
  width: 100%;
  border: none;
  background-color: #1e1c1f;
  box-shadow: none;
  color: #fff;
  transition: var(--transition);

  & .sidebar-search-arrow {
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
  }

  & .arrow-up {
    transform: rotate(0deg);
  }
  & svg {
    fill: currentColor;
  }
}

@media (hover: hover) {
  .sidebar-btn-search:hover {
    opacity: 0.6;
  }
}
.sidebar-btn-search:active {
  opacity: 1;
}

.artists-filters-wrapper {
  position: absolute;
  padding: 12px;
  top: 86px;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: #1e1c1f;
  border-radius: 12px;
  min-height: 182px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 1;
  transition: var(--transition);

  &.hide {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }
  & .filters-search-wrapper {
    position: relative;
    width: 100%;

    & .filters-search-input {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      gap: 12px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 12px;
      padding: 10.5px 12px 10.5px 48px;
      width: 265px;
      height: 48px;
      background-color: transparent;
      color: #fff;
      outline: transparent;
      transition: var(--transition);

      &:focus {
        border: 1px solid #fff;
      }
      &:hover {
        border: 1px solid #fff;
      }
    }

    & .filters-btn-search {
      position: absolute;
      top: 12px;
      left: 12px;
      background-color: transparent;
      border: none;
      padding: 0;

      & svg {
        fill: #fff;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .artists-sidebar-btns {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .filters-search-wrapper > .filters-search-input {
    width: 100% !important;
  }
  .sidebar-btn-search {
    max-width: 233px;
  }
  .artists-list {
    gap: 32px;
    margin-bottom: 64px;
    align-items: flex-start;
  }

  .artists-list .artists-list-item {
    min-height: 633px;
  }
  .artists-filters-wrapper {
    max-width: 304px;
    left: calc(100% - 304px);
    top: 48px;
  }
  .artists-filters-wrapper {
    width: 100% !important;
  }
  .list-item-img {
    height: 433px;
  }
}

@media only screen and (min-width: 1440px) {
  .artists .container {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .artists-title {
    max-width: 863px;
    margin-bottom: 80px;
    font-size: 84px;
  }
  .artists-filters-wrapper {
    background-color: transparent;
  }
  .artists-filters-wrapper.hide {
    padding: 0;
    min-height: 182px;
    max-height: 652px;
    opacity: 1;
    overflow: visible;
  }

  .sidebar-btn-search {
    display: none;
  }
  .sidebar-btn-reset[hidden] {
    font-family: 'IBM Plex Sans', sans-serif;

    display: block;
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    padding: 0;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    transition: var(--transition);

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
    &:active {
      opacity: 1;
    }
  }
  .artists-filters {
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }
  .artists-list-wrapper {
    max-width: 976px;
    min-width: 976px;
  }
  .artists-list {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .artists-list .artists-list-item {
    width: calc((100% - 32px) / 2);
    min-height: 527px;
  }
  .list-item-img {
    height: 290px;
  }
}
/* #endregion */

.loader {
  color: #fff;
  display: none;

  position: relative;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.loader::after {
  content: '';
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  bottom: 10px;
  right: -5px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow:
      10px 0 rgba(255, 255, 255, 0),
      20px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow:
      10px 0 white,
      20px 0 rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow:
      10px 0 white,
      20px 0 white;
  }
}
