<section class="about-us" id="about-us">
  <div class="container">
    <img
      class="about-img"
      src="/about-us-team.webp"
      srcset="/about-us-team.webp 1x, /about-us-team-2x.webp 2x"
      loading="lazy"
      width="343"
      height="168"
      alt="team photo"
    />

    <div class="about-right">
      <svg class="about-icon" fill="#fff">
        <use href="./assets/icons/symbol-defs.svg#about-logo"></use>
      </svg>
      <h2 class="about-header">About ArtistsHub</h2>
      <p class="about-text">
        At ArtistsHub, our mission is to connect music lovers with the artists
        they adore. We strive to create a vibrant community where discovering
        new music is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>
