<section class="feedbacks" id="feedbacks">
  <div class="container">
    <h2 class="feedback-title-hide">Отзывы наших посетителей</h2>
    <div class="swiper feedback-swiper">
      <ul class="swiper-wrapper js-list-feedbacks">
        <!-- Slides -->
        <!-- <li class="swiper-slide">
          <div class="wrapper">
            <div class="stars-static rating-set-1-5">
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
            </div>
            <p class="user-feedback">
              "ArtistsHub has transformed the way I discover new music. It's
              like having a personal DJ that knows my taste perfectly!"
            </p>
            <p class="user-name">Slide 1</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="wrapper">
            <div class="stars-static rating-set-0-5">
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
            </div>
            <p class="user-feedback">
              "ArtistsHub has transformed the way I discover new music. It's
              like having a personal DJ that knows my taste perfectly!"
            </p>
            <p class="user-name">Slide 2</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="wrapper">
            <div class="stars-static rating-set-2">
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
            </div>
            <p class="user-feedback">
              "ArtistsHub has transformed the way I discover new music. It's
              like having a personal DJ that knows my taste perfectly!"
            </p>
            <p class="user-name">Slide 3</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="wrapper">
            <div class="stars-static rating-set-4">
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
            </div>
            <p class="user-feedback">
              "ArtistsHub has transformed the way I discover new music. It's
              like having a personal DJ that knows my taste perfectly!"
            </p>
            <p class="user-name">Slide 4</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="wrapper">
            <div class="stars-static rating-set-2-5">
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
            </div>
            <p class="user-feedback">
              "ArtistsHub has transformed the way I discover new music. It's
              like having a personal DJ that knows my taste perfectly!"
            </p>
            <p class="user-name">Slide 5</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="wrapper">
            <div class="stars-static rating-set-2">
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
            </div>
            <p class="user-feedback">
              "ArtistsHub has transformed the way I discover new music. It's
              like having a personal DJ that knows my taste perfectly!"
            </p>
            <p class="user-name">Slide 6</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="wrapper">
            <div class="stars-static rating-set-3-5">
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
            </div>
            <p class="user-feedback">
              "ArtistsHub has transformed the way I discover new music. It's
              like having a personal DJ that knows my taste perfectly!"
            </p>
            <p class="user-name">Slide 7</p>
          </div>
        </li> -->
      </ul>
      <!-- pagination -->
      <div
        class="swiper-pagination custom-pagination"
        aria-label="Пагинация слайдера"
      >
        <button
          type="button"
          class="custom-bullet bullet-first"
          aria-label="Перейти к первому отзыву"
        ></button>
        <button
          type="button"
          class="custom-bullet bullet-middle"
          aria-label="Перейти к средним отзывам"
        ></button>
        <button
          type="button"
          class="custom-bullet bullet-last"
          aria-label="Перейти к последнему отзыву"
        ></button>
      </div>

      <!--  navigation BTN  -->
      <div class="swiper-button-prev">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.7069 17.293L8.41394 13H17.9999V11H8.41394L12.7069 6.70697L11.2929 5.29297L4.58594 12L11.2929 18.707L12.7069 17.293Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.293 17.293L12.707 18.707L19.414 12L12.707 5.29297L11.293 6.70697L15.586 11H6V13H15.586L11.293 17.293Z"
            fill="white"
          />
        </svg>
      </div>
    </div>
    <button type="button" class="btn-feedback-modal">Leave feedback</button>
  </div>
</section>
