<footer class="footer">
  <div class="container">
    <div class="footer-nav-div">
      <a href="./index.html" class="footer-logo-link" aria-label="logo"
        ><svg class="footer-logo" fill="#764191" width="116px" height="45px">
          <use href="./assets/icons/symbol-defs.svg#main-logo"></use>
        </svg>
        <svg
          class="mobile-footer-logo"
          fill="#764191"
          width="84px"
          height="36px"
        >
          <use href="./assets/icons/symbol-defs.svg#mobile-logo"></use>
        </svg>
      </a>
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a href="#artists" class="footer-nav-link" aria-label="artists link"
            >Artists</a
          >
        </li>
        <li class="footer-nav-item">
          <a href="#about-us" class="footer-nav-link" aria-label="about link"
            >About us</a
          >
        </li>
        <li class="footer-nav-item">
          <a href="#feedbacks" class="footer-nav-link" aria-label="reviews link"
            >Reviews</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-soc-div">
      <ul class="footer-soc-list">
        <li class="footer-soc-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="footer-soc-link"
            rel="noopener noreferrer"
            aria-label="instagram link"
            ><svg
              fill="#fff"
              width="40px"
              height="40px"
              class="footer-soc-icon"
            >
              <use href="./assets/icons/symbol-defs.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a
            href="https://www.facebook.com/ "
            target="_blank"
            class="footer-soc-link"
            rel="noopener noreferrer"
            aria-label="facebook link"
            ><svg
              fill="#fff"
              width="40px"
              height="40px"
              class="footer-soc-icon"
            >
              <use href="./assets/icons/symbol-defs.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            class="footer-soc-link"
            rel="noopener noreferrer"
            aria-label="youtube link"
            ><svg
              fill="#fff"
              width="40px"
              height="40px"
              class="footer-soc-icon"
            >
              <use href="./assets/icons/symbol-defs.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-copyright">© 2025 ArtistsHub. All rights reserved.</p>
    </div>
  </div>
</footer>
