<div class="modal-artist" data-modal-artist>
  <div class="modal-artist-wrapper">
    <!-- Close button -->
    <button class="modal-artist-close" type="button" aria-label="Close modal">
      <svg class="modal-artist-close-icon" width="24" height="24">
        <use href="./assets/icons/symbol-defs.svg#close-button"></use>
      </svg>
    </button>

    <!-- Loader -->
    <div class="modal-artist-loader">
      <p>Loading...</p>
    </div>

    <!-- Content (hidden until data loads) -->
    <div class="modal-artist-content" style="display: none">
      <!-- Content will be injected here via JavaScript -->
    </div>
  </div>
</div>
